body {
  margin: 0;
  max-width: 100vw;
  height: 80vh;
  background: lightgray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: monospace;
}

  div {
    max-width: 80%;
  }

  input {
    padding: 5px;
    font-size: 14px;
    margin: 20px 0;
    max-width: 90%;
  }

  button {
    background: green;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }

  h2 {
    width: 100%;
  }

@media only screen and (min-width: 650px) {
  
  body {
    height: auto;
    font-size: 20px;
  }
  
  h1 {
    margin-top: 80px;
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }


}